<!-- Conteúdo a ser inserido na página referente a fazer login -->
<div class="container">

    <h1>Faça login</h1>

    <form action="/user/login" method="POST" class="user-form">

        <label for="email">E-mail:</label>
        <input type="text" name="email" id="email" required>

        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" required>

        <p>Não tem uma conta? <a href="/user/register">Clique aqui para se registrar</a></p>

        <button type="submit" class="submit-btn">Enviar</button>

    </form>
    
</div>
