<!-- Conteúdo a ser inserido na página referente a fazer cadastro -->
<div class="container">

    <h1>Se cadastre</h1>

    <form action="/user/register" method="POST" class="user-form">

        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" required>

        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" required>
        
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" required>

        <p>Já possui uma conta? <a href="/user/login">Clique aqui para fazer login</a></p>

        <button type="submit" class="submit-btn">Enviar</button>

    </form>
    
</div>
